/* Color Palette */
:root {
  --background: #787878;
  --cardBg: #bcbcbc;
  --textLight: #dedede;
  --textDark: #242424;
  --bluish: #2999B7;
  --blueGreen: #0DAE7F;
  --mainGreen: #01e4a4;
  --darkerBlue: #2A83A6;
  --lightGreen: #0bb73e;
  --accentYellow: #F7F30F;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 10px;
}

body {
  background: rgba(200,200,200,0.5);
  font-size: 1.5rem;
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1, h2, h3, h4, h5 {
  font-weight: bolder;
  font-size: 1.5rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 3.5rem;
  color: var(--textDark);
}

h2 {
  font-size: 2.5rem;
  border-bottom: 3px solid lime;
  margin-bottom: 22px;
  padding-bottom: 0;
}

h3 {
  margin-top: 10px;
  margin-bottom: 0;
  padding: 0;
  font-size: 2rem;
}

h3:after {
  content: "";
  position: absolute;
  top: 45px;
  right: 30%;
  left: 30%;
  height: 3px;
  background: var(--accentYellow);
}

a {
  color: inherit;
  text-decoration: none;
}

p {
  padding: 11px;
  margin: 0;
}

body, section {
  margin: 0;
  padding: 0;
  color: var(--textDark);
}

section {
  margin: 15px;
  margin-top: 0;
  padding: 15px;
  /* border: 2px solid lime; */
  background: rgba(255,255,255,0.6);
}

div.main {
  min-height: 100vh;
  color: var(--textLight);
  background: url('../img/bamboo.jpg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Photo by <a href="https://unsplash.com/@franco_mar?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Franco Mariuzza</a> on <a href="/s/photos/bamboo?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a> */

nav {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 100vw;
  background: rgba(255,255,255,0.6);
  color: var(--textDark);
  z-index: 100;
  margin: 0;
  padding: 0;
}

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav > ul > li {
  margin: 0 10px;
  text-transform: uppercase;
  border-bottom: 2px solid lime;
}

ol, ol > li {
  text-align: left;
}

.flex {
  display: flex;
  flex-direction: column;
}

.inline {
  flex-direction: row;
}

.center {
  text-align: center;
  justify-content: center;
  align-items: center;
  align-content: center;
  align-self: center;
}

.bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.splash {
  background: url('../img/tom.jpg');
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 80vh;
  position: relative;
}

.inner-splash {
  display: block;
  background: rgba(255,255,255,0.5);
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  color: var(--textDark);
}

.splash-text {
  bottom: 20px;
}

.card {
  position: relative;
  text-align: center;
  margin: 0 auto;
  max-width: 866px;
  padding: 1rem;
  height: 100%;
  color: var(--accentYellow);
}

.inner-card {
  padding-bottom: 20px;
  margin: 0 10px 10px 10px;
  max-width: 100%;
  overflow: hidden;
}

.button {
  margin: 12px auto 0;
  padding: 12px;
  border-radius: 3px;
  text-transform: uppercase;
  background-color: var(--accentYellow);
  color: var(--textDark);
  font-weight: bold;
  width: 220px;
  box-shadow: 0px 0px 10px orangered;
}

.button:hover {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  -o-transform: scale(1.15);
  -ms-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);

  -webkit-transition: transform 0.4s ease-in-out;
  -moz-transition:transform 0.4s ease-in-out;
  -ms-transition:transform 0.4s ease-in-out;
}

.one {
  background: var(--bluish);
}

.two {
  background: var(--blueGreen);
}

.three {
  background: var(--darkerBlue);
}

.four {
  background: var(--lightGreen);
}

footer.footer {
  min-height: 42px;
  margin-top: 120px;
  margin-bottom: 0;
  padding: 11px;
  background: var(--mainGreen);
  color: var(--textDark);
  align-items: center;
}

.copyleft {
  display:inline-block;
  transform: rotate(180deg);
}

.box {
  border: 2px groove lime;
  margin: 12px;
  padding: 2px;
}

.float.left {
  float: left;
}

.float.right {
  float: right;
}
